<section class="signup" id="signup" name="signup">
	<h2><i class="fa fa-newspaper-o"></i>&nbsp;The Codogo Newsletter</h2>

	<div class="container restrict-width">	
		<p>Sign up to our monthly newsletter to keep up to date with the latest Codogo news. We're just getting started and there are exciting things to come! Submit your email address below to be added to our mailing list.</p>

		<div class="form signup">
			<div class="input email" contenteditable="true"></div>
			
			<div class="input submit">Sign up!</div>
			
			<div class="message"></div>
		</div>
	</div>
</section>